<span class="titles"><h1>All Articles </h1></span>

	<% @articles.each do |article| %>
	<article class="artcontainer">
	<h2><%= article.title %></h2>
	<p><%= truncate article.body, length: 255 %></p>
	<br />
	<%= link_to "Read more", article_path(article) %>
	</article>
	<% end %>
<% if logged_in? %>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %> <br />
<% end %>
<%= link_to "Browse by Tag", tags_path, class: "tags_link" %>


