<h1>All Articles </h1>

	<% @articles.each do |article| %>
	<div class="artcontainer">
	<h3><%= article.title %></h3>
	<%= truncate article.body, length: 255 %>
	<br />
	<%= link_to "Read more", article_path(article) %>
	</div>
	<% end %>
<% if logged_in? %>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %> <br />
<% end %>
<%= link_to "Browse by Tag", tags_path, class: "tags_link" %>
</div>

