<div class="formcontainer">
<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2>An error has occurred:</h2>

      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, :required => true %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :required => true %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :required => true  %>
  </div>
  <div class="field">
    <%= f.label :password_confimation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </div>
  <div class="actions">
    <button class="button-login" name="commit">Create Author</button>
  </div>
<% end %>
</div>
