<section id="sidebuttons">
  <button class="button-menu" id="menu-toggle">Toggle Menu</button>
  <% if logged_in? %>
  <%= link_to 'New Author', new_author_path %>
  <% end %>
</section>

<header>
<h1>Listing Authors</h1>
</header>

<table id="authors">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
    <tr>
      <td><%= author.username %></td>
      <td><%= author.email %></td>
      <td><%= link_to 'Show', author %>
        <%= link_to 'Edit', edit_author_path(author) %>
        <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  
