<div id="sidebuttons">
  <button class="button-menu" id="menu-toggle">Toggle Menu</button>
  <%= link_to 'New Author', new_author_path %>
</div>

<header><h1>Login</h1></header>

<section class="formcontainer">
<%= form_tag author_sessions_path, method: :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <br/>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br/>
  </div>
  <div class="actions">
    <button class="button-login" name="commit">Log In</button>
  </div>
<% end %>
</section>
<div class="bottombuttons">
<%= link_to 'Back to Homepage', articles_path, class: "customlinks" %>
</div>
