<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<section class="wrapper">
		<section class="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<%= link_to 'Bloggerino', articles_path %>
				</li>
				<li>
					<%= link_to 'Articles', articles_path %>
				</li>
				<% if logged_in? %>
				<li>
					<%= link_to 'Authors', authors_path %>
				</li>
				<% end %>
				<li>
					<%= link_to 'Tags', tags_path %>
				</li>
					<% if logged_in? %>
				<hr>	
				<li class="login-li">
						<span><%= "Logged in as #{current_user.email}" %></span>
				</li>
				<li>
						<%= link_to "Log Out", logout_path %>
				</li>		
					<% else %>
				<li>
						<%= link_to "Log In", login_path %>
				</li>
					<% end %>
			</ul>
		</section>
		<section class="page-content-wrapper">
			<button class="btn btn-default" id="menu-toggle">Toggle Menu</button>
			<span class="titles"><p class="flash"><%= flash.notice %></p></span>

			<%= yield %>
				


		</section>
	</body>
	</html>
